<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>ganeshkhantwalniittech.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cocfridaydemodev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cocfridaydemodev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cocfridaydemodev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cocfridaydemodev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:j2ncqhzd8h.database.windows.net,1433;Initial Catalog=cocfridaydemodev_db;User ID=azuredb@j2ncqhzd8h;Password=ganesh@123" Name="Data Source=tcp:j2ncqhzd8h.database.windows.net,1433;Initial Catalog=cocfridaydemodev_db;User Id=azuredb@j2ncqhzd8h;Password=ganesh@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="fridaydemodev.Models.TenantDbContext, fridaydemodev" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://ganeshkhantwalniittech.onmicrosoft.com/WebApp-cocfridaydemodev.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>043ec705-a570-4d31-a0ab-f1532c2dcf55</ADClientAPPID>
    <ADClientPassword />
    <ADReplyUrl>https://cocfridaydemodev.azurewebsites.net/</ADReplyUrl>
    <ADIssuer>https://login.windows.net/ganeshkhantwalniittech.onmicrosoft.com/wsfed</ADIssuer>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:j2ncqhzd8h.database.windows.net,1433;Initial Catalog=cocfridaydemodev_db;User Id=azuredb@j2ncqhzd8h;Password=ganesh@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>